<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
   <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <p class="h5 my-0 me-md-auto fw-normal">Гречко Артур</p>
  <nav class="my-2 my-md-0 me-md-3">
    <a class="p-2 text-dark" href="/">Резюме №1</a>
    <a class="p-2 text-dark" href="/about-us">Резюме№2</a>
  </nav>
  <a class="btn btn-outline-primary" href="#">Sign up</a>
</header>
<pre>
                                            Гречко Артур

Дата рождения: 01.04. 1981
Проживание: г. Черкассы.  Готов к командировкам.
Готов к переезду в г. Киев.

                                        Контактная информация:
Телефон: +7 (9хх) ххх-хх-хх
Электронная почта: a.smirnov@mail.ru

Желаемая должность: Руководитель отдела продаж

Желаемый уровень дохода: 100 тыс. рублей

                                          Ключевые навыки:

Активные продажи, расширение клиентской базы;
Работа с ключевыми клиентами, устранение возникших разногласий;
Руководство отделом продаж.
                                            Достижения:

Создал отдел продаж с «0». Впоследствии отдел (5 человек) под моим руководством
    регулярно выполнял план по привлечению новых клиентов и продажам;
Привел в компанию 7 ключевых клиентов (совокупно до 50% заказов);
Разработал и внедрил в компании технологию продаж технически сложного оборудования.
</pre>
</body>
</html>