<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Моё резюме</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body{
        background: #FFFFE0;
        }
    </style>
</head>
<body>
<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <p class="h5 my-0 me-md-auto fw-normal">Гречко Артур</p>
  <nav class="my-2 my-md-0 me-md-3">
    <a class="p-2 text-dark" href="/">Резюме №1</a>
    <a class="p-2 text-dark" href="/about-us">Резюме№2</a>
  </nav>
  <a class="btn btn-outline-primary" href="#">Sign up</a>
</header>
   <pre>                        <h1>Гречко Артур Русланович</h1>
    <img src="App\taskmanager\main\templates\main" alt="Тут должен быть я">
    <p>Студент</p>
    <p>Занятость: Полная</p>
    <p>График работы: Весь день</p>
    <p>Готовность командировок: Да</p>
    <p>Желаемая зарплата: 9999999999999 грн.</p>
    <p>Телефон: +380974255503</p>
                                 <h1>Личная информация</h1>
    <p>Гражданство: Украина</p>
    <p>Место проживания: г.Черкассы</p>
    <p>переезд: Возможен</p>
    <p>Образование: Неполное высшее</p>
    <p>Дата рождения: 27 ноября 2000(20 лет)</p>
    <p>Пол: Мужской</p>
    <p>Семейное положение: Женат(есть дети)</p>
                                    <h1>Опыт работы</h1>
    <p>Ни</p>
    <p>ка</p>
    <p>ко</p>
    <p>го</p>
       </pre>
</body>
</html>