<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Моё резюме</title>
    <style>
        body{
        background: #FFFFE0;
        }
    </style>
</head>
<body>
   <pre>                        <h1>Гречко Артур Русланович</h1>
    <img src="App\taskmanager\main\templates\main" alt="Тут должен быть я">
    <p>Студент</p>
    <p>Занятость: Полная</p>
    <p>График работы: Весь день</p>
    <p>Готовность командировок: Да</p>
    <p>Желаемая зарплата: 9999999999999 грн.</p>
    <p>Телефон: +380974255503</p>
                                 <h1>Личная информация</h1>
    <p>Гражданство: Украина</p>
    <p>Место проживания: г.Черкассы</p>
    <p>переезд: Возможен</p>
    <p>Образование: Неполное высшее</p>
    <p>Дата рождения: 27 ноября 2000(20 лет)</p>
    <p>Пол: Мужской</p>
    <p>Семейное положение: Женат(есть дети)</p>
                                    <h1>Опыт работы</h1>
    <p>Ни</p>
    <p>ка</p>
    <p>ко</p>
    <p>го</p>
       </pre>
</body>
</html>